<% include ../partials/header %>

<section class="flex-new-camp">
  <form action="/pages/<%=page._id%>/sections" method="POST">
    <h1 class="text-center w-100">Add new section to <%= page.name %></h1>


    <!-- <input class="form-control my-2 mt-4" type="text" name='text' placeholder="text"> -->
    <div class="form-group col-12">
     <label for="exampleTextarea">Enter section <%= username %></label>
     <textarea class="form-control"  type="text" name='text' id="exampleTextarea" rows="3" columns="500"></textarea>
   </div>

    <!-- <input class="form-control my-2" type="text" name='author' placeholder="author"> -->
    <button class="btn btn-lg btn-primary btn-block my-2">Submit</button>
    <a href="/pages">Go Back</a>
  </form>
</section>

<% include ../partials/footer %>
