<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link rel="stylesheet" href="css/splash.css">


<body class="d-flex flex-column justify-content-between">
    <header class="d-flex p-0 m-0 justify-content-center">
        <img class="rounded logo-shadow-black"  src="imgs/logo/white.svg" alt="">
    </header>
    
    <main class="text-center shadow p-4 mb-4 bg-white">
        <h1 class="baskerville notranslate "><strong>Chandra Kumala School</strong></h1>
        <blockquote class="d-none display-sm-block text-shadow">
            <p class="">I have no special talent. I am only passionately curious.</p>
            <footer class="blockquote-footer text-white">Albert Einstein</footer>
        </blockquote>
        <a class="btn btn-light btn-lg btn-outline-success button-size" href="/slides"><strong>ENTER</strong></a>
    </main>

    <ul class="slideshow m-0 p-0 w-100 h-100">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
    <footer class="d-flex flex-row justify-content-around m-2">
        <a class="btn btn-dark btn-outline-success" name="button" href="https://www.youtube.com/chandrakumalaschool" target="_blank">
            <i class="fab fa-youtube text-white text-shadow fa-fw fa-fh"></i>
        </a>
        <a class="btn btn-dark btn-outline-success" name="button" href="https://www.facebook.com/ChandraKumalaSchool/" target="_blank">
            <i class="fab fa-facebook-f text-white text-shadow fa-fw fa-fh"></i>
        </a>
        <a class="btn btn-dark btn-outline-success" name="button" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank">
            <i class="fab fa-instagram text-white text-shadow fa-fw fa-fh"></i>
        </a>
    </footer>
</body>
