<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
<link rel="stylesheet" href="css/splash.css">


<body class="d-flex flex-column justify-content-between">
    <header class="d-flex justify-content-left m-3">
        <a href="/">
            <img class="rounded p-2 logo-shadow-black img-top d-none d-md-block"  src="imgs/mala-white.svg" alt="">
        </a>
    </header>
    
    <main class="text-center text-white">
        <img class="img-middle rounded p-2 logo-shadow-black d-block d-md-none mx-auto mb-5"  src="imgs/mala-white.svg" alt="">
        <h1 class="Display-3 d-none d-md-block baskerville notranslate text-shadow">Chandra Kumala School</h1>
        <h1 class="Display-3 d-block d-md-none baskerville notranslate text-shadow">Chandra Kumala</h1>
        <p class="lead text-shadow">Welcome to our Website</p>
        <a class="btn btn-light btn-lg btn-outline-success" href="/home">ENTER</a>
    </main>

    <ul class="slideshow m-0 p-0 w-100 h-100">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
    <footer class="d-flex flex-row justify-content-between m-2 text-white">
        <button class="btn" type="button" name="button">
            <i class="fab fa-youtube fa-3x text-white text-shadow"></i>
        </button>
        <button class="btn" type="button" name="button">
            <i class="fab fa-facebook-f fa-3x text-white text-shadow"></i>
        </button>
        <button class="btn" type="button" name="button">
            <i class="fab fa-instagram fa-3x text-white text-shadow"></i>
        </button>
    </footer>
</body>
