header, footer {
    position: relative;
    background-color: #202565;
  }
  
  h1 {
    margin: 0;
    padding: 50px 0;
    font: 44px "Arial";
    color: white;
  }
  
  zindex{
      z-index: 2;
  }