<% include ../partials/header %>

<section>
    <% slides{ %>
        <form class="btn-toolbar" action="/slides/?_method=PUT" method="post">
            <h1 class="text-center w-100">Edit Slide Images</h1>
            <input class="form-control my-2" type="text" name='slide[imageOne]' value="<%= slide.image %>">
            <input class="form-control my-2" type="text" name='slide[imageTwo]' value="<%= slide.image %>">
            <input class="form-control my-2" type="text" name='slide[imageThree]' value="<%= slide.image %>">
            <button class="btn btn-lg btn-primary btn-block my-2">Update</button>
            <a class="btn" href="/slides">Go Back</a>
        </form>
    <% }) %>

</section>



<% include ../partials/footer %>