<% include ../partials/header %>

<header class='jumbotron container'>
  <div class="container">

  <h1>Welcome to Chandra Kumala School</h1>
  <p>View all web pages made within this site &hellip;</p>
  <p><a class="btn btn-primary btn-lg" href="/pages/new">Add New Page.</a></p>

</div>
</header>

<section class="flex flex-image container">
  <% pages.forEach(function(page){ %>

    <div class="card column">
      <img class="card-img-top" src="<%= page.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center"><%= page.name %></h5>
        <p class="card-text text-center"><a href="/pages/<%= page._id %>" class="btn btn-primary">More Info</a></p>
      </div>
    </div>

  <% }) %>
</section>

<% include ../partials/footer %>
